<!--
  Generated template for the SearchCategory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="blank"></ion-icon>
    </button>
      <ion-title><span color="blank">Search Category</span></ion-title>
  </ion-navbar>

</ion-header>




<ion-content padding>
<div text-center>* <span color="danger">Search with a minimum of 3 alphabets</span></div>
<ion-searchbar (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
<ion-list [virtualScroll]="products" approxItemHeight="100px;">
  
  
  <ion-item *virtualItem="let product" (click)="itemTapped($event, product)">
      <ion-thumbnail item-left>
        <img src="{{product.images[0].src}}">
      </ion-thumbnail>
    <h3></h3>
    <h2>{{ product.name }}</h2>
    <p style="" [innerHTML]="product.description"></p>
  </ion-item>

    

    
</ion-list>
<ion-list>
  <ion-item *ngIf="noProducts" text-center>
  Search returned nothing!<br />
  Please try with a different keyword...
  </ion-item>
</ion-list>
<!--
  <div *ngIf="{{products.length}}">
    No Products
  </div>
-->
</ion-content>

