<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="blank"></ion-icon>
    </button>
      <ion-title><span color="blank">Medicine Bazaa&#8377;</span></ion-title>
<ion-buttons end>
    <button ion-button icon-only clear (click)="navSearch()" end>
  <ion-icon name="search" color="blank" style="font-size:2.3em;"></ion-icon>
  
    </button>
    <button ion-button icon-only clear (click)="checkCart()" end>
  <ion-icon name="cart" color="blank" style="font-size:2.5em;"></ion-icon>
  <ion-badge color="danger">{{productCount}}</ion-badge>
    </button>
</ion-buttons>
<!--</button>-->
  </ion-navbar>
</ion-header>


<ion-content padding-vertical class="no-scroll">

<img src="http://loremflickr.com/400/200/medicine" />
<hr />

<ion-row>
<ion-col width-50>
<button ion-button block icon-right color="primary" (click)="openMenu()">
    Upload
    <ion-icon style="font-size:2em;" name="md-clipboard" color="blank"></ion-icon>
    
    
</button>
</ion-col>
<ion-col width-50>

<button ion-button block icon-right color="primary" (click)="navSearch()">Search<ion-icon style="font-size:2em;" name="md-search" color="blank"></ion-icon></button>
</ion-col>
</ion-row>
<ion-card *ngIf="base64Image">
  <ion-card-header>
    Captured (for Testing)
  </ion-card-header>
  <ion-card-content>
    <img [src]="base64Image"/>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="imageSrc">
  <ion-card-header>
    Gallery (for Testing)
  </ion-card-header>
  <ion-card-content>
    <img [src]="imageSrc" /> 

  </ion-card-content>
</ion-card>
</ion-content>
